/* #7f5539
#a68a64
#ede0d4
#656d4a
#414833 */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    background-color: #ede0d4;
}

h2 {
    color: #656d4a;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding-top: 35px;
    padding-bottom:35px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

.color {
    color: #ede0d4;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.color:hover{
    color:#a68a64;
    text-decoration: underline;
}

.color2:hover{
    color:#a68a64;
    text-decoration: underline;
}

.navbar-custom {
    background-color: #414833;
    border: 2px solid #ede0d4;
}

section {
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input,
select,
textarea {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

button {
    padding: 10px;
    background: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

.highlight {
    background: #eafaf1;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer {
    background-color: #656d4a;
    color: black;
}

.footer-color {
    color: #ede0d4;
    padding: 20px 20px 40px 20px;
}